// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'resets';

$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7FC6BC;
$c-white: #edf7f2;
$c-pure-white: #fff;

$m-gutter: 1rem;
$m-max-width: 60rem;

$font: 'Dosis', sans-serif;

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: $c-primary;
  color: $c-white;
  font-family: $font, sans-serif;
  padding: ($m-gutter / 2) $m-gutter;

  &__logo {

  }

}

.nav-list {
  display: flex;
  margin: 0;

  &__item {
    margin: 0 $m-gutter;
  }
}
